<div class="row">
    <div class="col col-sm-12 col-md-6 col-lg-6">
      <h4>Datos del Alumno</h4>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Apellidos</label>
          <input disabled type="text" class="form-control" id="apellidos2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Nombres</label>
          <input disabled type="text" class="form-control" id="nombres2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Fecha de Nacimiento</label>
          <input disabled type="date" max="9999-12-31" class="form-control" id="fechaNacimiento2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Dirección</label>
          <input disabled type="text" class="form-control" id="direccion2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlTextarea1">Observación</label>
          <textarea disabled class="form-control" id="observacion2" rows="3"></textarea disabled>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-6 col-lg-6">
      <h4>Datos del Representante</h4>
      <div class="row">
          <div class="col">
            <label for="exampleInputEmail1">Apellidos</label>
            <input disabled type="text" class="form-control" id="apellidosRepresentante2">
          </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Nombres</label>
          <input disabled type="text" class="form-control" id="nombresRepresentante2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Cédula del Representante</label>
          <input disabled type="text" class="form-control" id="cedulaRepresentante2">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="exampleInputEmail1">Número de teléfono</label>
          <input disabled type="text" class="form-control" id="telefonoRepresentante2">
        </div>
      </div>
    </div>
  </div>
  <div class="row text-right">
        <div class="col col-lg-12">
          <button id="btnEditarAlumno" onclick="editarAlumno()" class="btn btn-warning">Editar</button>
          <button id="btnGuardarEdicionAlumno" onclick="guardarEdicionAlumno()" class="btn btn-primary" style="margin-bottom: 15px!important; display: none;">Guardar</button>
        </div>
  </div>